
{{#each chores as |chore|}}

<ol id='chore-listing' data-id="{{chore.id}}">
  <p>This is a chore listing<p>
  <li>Chore ID:{{chore.id}}</li>
  <li>Directions:{{chore.directions}}</li>
  <li>Day of Week:{{chore.day_of_week}}</li>
</ol>

{{/each}}
